Start
=== test/source/lab/00.test ===
add 1 Python-developer python 4 180 150000 lizapizza@yandex.ru true
add 2 Java-developer java 6 180 120000 lexusrx300@mail.ru false
add 3 Ruby-basics ruby 1 30 5000 fonparin@bmstu.ru false
view
remove 0
update 2 3 RubyOnRails-basics ruby 1 30 7000 fonparin@bmstu.ru true
report
save
--- Test --->
[0] 1 Python-developer python 4 180 150000 lizapizza@yandex.ru true
[1] 2 Java-developer java 6 180 120000 lexusrx300@mail.ru false
[2] 3 Ruby-basics ruby 1 30 5000 fonparin@bmstu.ru false
Количество элементов в коллекции: 3
ID Подписки: 2
	Отправляем электронное письмо по адресу... 	lexusrx300@mail.ru
Выполнение завершено успешно
=== test/source/lab/01.test ===
l new_file
--- Test --->
Ошибка при загрузке файла 'new_file'
=== test/source/lab/02.test ===
l
c
v
--- Test --->
Количество элементов в коллекции: 0
Выполнение завершено успешно
=== test/source/lab/03.test ===
a something
--- Test --->
Некорректное количество аргументов команды add
=== test/source/lab/04.test ===
v all
--- Test --->
Некорректное количество аргументов команды view
=== test/source/lab/05.test ===
report everything
--- Test --->
Некорректное количество аргументов команды report
=== test/source/lab/06.test ===
kill
--- Test --->
Недопустимая команда 'kill'
=== test/source/lab/07.test ===
r
--- Test --->
Некорректное количество аргументов команды remove
=== test/source/lab/08.test ===
u all
--- Test --->
Некорректное количество аргументов команды update
=== test/source/lab/09.test ===
clean all
--- Test --->
Некорректное количество аргументов команды clean
